@charset "UTF-8";

*{
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    background-color: #4A3B63;
}

header > h1{
    text-align: center;
    font-size: 1.8rem;
}

header > #menu{
    width: 92.5vw;
    margin-left: -8px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #3A1E66;
    color: white;
    border-top: 2px solid #2b0e5a;
}

header > #menu > a{
    font-size: 15px;
    margin-right: 10px;
    text-decoration: none;
    background-color: #00000000;
}

header > #menu > a:hover{
    background-color: #5b2ea1;
}

#hr1{
    width: 96vw;
    margin-left: -8px;
    margin-top: -2px;
}

main{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 5px 10px #0000005d;
    background-color: #3a1e66;
}

main > p{
    width: 350px;
    text-align: center;
    margin-top: -8px;
    padding-top: 5px;
    background-color: #3a1e66;
    padding-left: 25px;
}

#p1{
    padding-top: 20px;
}

main > #hr2{
    width: 100px;
}

main > #sect{
    background-color: #3a1e66;
    margin-left: 10px;
    margin-top: 10px;
}

main > #sect > h2, p{
    background-color: #3a1e66;
}

main > #sect > #ed, #sk, #xp, #ad{
    font-size: 20px;
}

main > #sect > .prg{
    margin-top: -10px;
}

main > #sect > #p-ed2, #p-xp2{
    margin-top: -13px;
}

main > #sect > #p-xp3{
    background-color: #3a1e66;
}

strong{
    background-color: #4a2980;
}
